{% extends 'app/base.html' %}
{% load static %}
{% block banner_slide %}
{% load humanize %}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/banner phukien.jpg' %}" class="d-block w-100" alt="Sữa Neel" height="580" width="100">

    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/banner-tgdd-800x300.jpg' %}" class="d-block w-100" alt="Sữa milk Shake" height="580" width="100">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/huong-dan-thiet-ke-banner-dien-thoai-bang-photoshop.jpg' %}" class="d-block w-100" alt="Sữa chua Neel" height="580" width="100">

    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/thiet-ke-banner-chuyen-nghiep-cho-cua-hang-dien-thoai-nhat-nam-mobile-dqovvmz5.jpg' %}" class="d-block w-100" alt="Xà bông Neel" height="580" width="100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slide %}
{% block main-content %}
<div class="row" style="width: 100%">
  {%for product in products %}
  <div class="col-lg-3">
    <img class="thumbnail" src="{{product.ImageURL}}">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>
      <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
      <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">Xem</a>
      <h3 style="display: inline-block; float: right"><strong>{{ product.price|floatformat|intcomma }} VNĐ</strong></h3>



    </div>
  </div>
  {% endfor %}
</div>
<br /><br /><br />
{% endblock %}
